.contact-admin {
  text-align: center;
  padding: 100px 20px 50px; /* Thêm khoảng trống ở trên và dưới để tránh bị che */
  margin-top: 100px; /* Tạo khoảng cách từ Navbar xuống ContactAdmin */
  min-height: calc(
    100vh - 180px
  ); /* Điều chỉnh chiều cao tối thiểu để vừa vặn với màn hình, trừ đi chiều cao của Navbar và Footer */
  box-sizing: border-box;
}

.contact-admin ul {
  list-style: none;
  padding: 0;
}

.contact-admin li {
  margin: 10px;
  border: 1px solid #ffffff;
  padding: 10px;
}

.form-contact {
  width: 640px;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  text-align: center;
  border: solid 2px #1677ff;
  height: 100%;
  font-size: 24px;
  padding: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.contact-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/736x/b3/0d/61/b30d6114c5e4e1d42fcd262b5ce42874.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: 1;
  -webkit-filter: blur(5px);
}
