@import "./TripStyles.css";
@import "./TripDetailsStyle.css";
@import "./SignUp.css";
@import "./SearchStyle.css";
@import "./SearchResultStyle.css";
@import "./NavbarStyles.css";
@import "./HotelDetailsStyle.css";
@import "./HomeHeroStyles.css";
@import "./FooterStyles.css";
@import "./DestinationStyles.css";
@import "./ContactFormStyles.css";
@import "./ContactAdminStyle.css";
@import "./ButtonStyles.css";
@import "./AboutUsStyles.css";
@import "./Account.css";

.main-layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.main-layout > :first-child {
    margin-top: 48px;
}