/*Sign up Page*/
.form-modal__container {
    margin: 0 0.5rem;
  }
  .form-modal__wrapper {
    display: flex;
    justify-content: center;
    max-width: 900px;
    height: 500px;
    margin: 4rem auto;
  }
  
  .sign-up {
    overflow: hidden;
    width: 400px;
    height: inherit;
    border-radius: 10px 0 0 10px;
  }
  
  .sign-up > img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    display: block;
  }
  
  .sign-up__container {
    background: #fff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-radius: 0 10px 10px 0;
    justify-content: center;
  }
  
  .sign-up__container > h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  
  .sign-up__form {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .sign-up__form > label {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
  }
  
  
  .sign-up__form > input {
    margin-bottom: 1rem;
    padding: 0.6rem;
  }
  
  .sign-up__form .btn-sign {
    padding: 12px 26px;
    width: fit-content;
    margin: 1.5rem auto 0;
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid #242424;
    background-color: #242424;
    color: #fff;
    cursor: pointer;
  }
  
  .sign-up__form .btn-sign:hover {
    color: #242424;
    background-color: #fff;
  }
  
  .have-account {
    font-size: 0.9rem;
    color: #5a5a5a;
  }
  
  .have-account span {
    text-decoration: underline;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 798px) {
    .destination-container h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
  